<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 

<%= link_to 'Mais Moedas' , coins_path, class: 'button myButton' %>
<h1 class="home-title"> emReais.com </h1>
<h3 class="home-subtitle"> Conversão de moedas em tempo real </h3>
<div class="dolar-container">

	<img src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg" alt="Brazil flag" class="flag-home left-flag">
		$ <input type="number" name="dolar-value" value="<%= @dolar_value %>" id="dolar-input" class="dolar-input-home coin-input-home">  

		<div class="total-dolares" id="total-dolares-result"> 
		  = R$ <%= number_with_precision(@one_dolar, precision: 2) %> 
		</div>
	<img src="https://lipis.github.io/flag-icon-css/flags/4x3/br.svg" alt="Brazil flag" class="flag-home right-flag">	

</div>

<br>
<br>
<div class="other-coins-home">

	<div class="commun euro-container">
		<img src="https://lipis.github.io/flag-icon-css/flags/4x3/eu.svg" alt="Brazil flag" class="flag left-flag">
			€ <input type="number" name="euro-value" value="<%= @euro_value %>" id="euro-input" class="euro-input-home coin-input-home">  

			<div class="total-euros" id="total-euros-result"> 
			  = R$ <%= number_with_precision(@one_euro, precision: 2) %> 
			</div>
		<img src="https://lipis.github.io/flag-icon-css/flags/4x3/br.svg" alt="Brazil flag" class="flag right-flag"> 
	</div>

	<div class="commun libra-container">
		<img src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="Brazil flag" class="flag left-flag"> 
			£ <input type="number" name="libra-value" value="<%= @libra_value %>" id="libra-input" class="euro-input-home coin-input-home">  

			<div class="total-euros" id="total-libras-result"> 
			  = R$ <%= number_with_precision(@one_libra, precision: 2) %> 
			</div>
		<img src="https://lipis.github.io/flag-icon-css/flags/4x3/br.svg" alt="Brazil flag"class="flag right-flag"> 

	</div>
</div>
<%= link_to 'Mais Moedas' , coins_path, class: 'button myButton-mobile' %>

<script type="text/javascript">

	$("#dolar-input").keyup(function(){
		let dolar = parseFloat($('#dolar-input').val(), 10);
		let new_dolar;
		console.log(dolar);
		if (dolar == null || isNaN(dolar)) { new_dolar = 0.00 }
		else {
			new_dolar = dolar * <%= @one_dolar %>
		}
		$('#total-dolares-result').html('= R$ '+new_dolar.toFixed(2));
	})

	$("#euro-input").keyup(function(){
		let euro = parseFloat($('#euro-input').val(), 10);
		let new_euros;
		console.log(euro);
		if (euro == null || isNaN(euro)) { new_euros = 0.00 }
		else {
			new_euros = euro * <%= @one_euro %>
		}
		$('#total-euros-result').html('= R$ '+new_euros.toFixed(2));
	})

	$("#libra-input").keyup(function(){
		let libra = parseFloat($('#libra-input').val(), 10);
		let new_libras;
		console.log(libra);
		if (libra == null || isNaN(libra)) { new_libras = 0.00 }
		else {
			new_libras = libra * <%= @one_libra %>
		}
		$('#total-libras-result').html('= R$ '+new_libras.toFixed(2));
	})
	
</script>